
<!DOCTYPE html>
<html>
  <head>
    
   
  </head>
<body bgcolor="lightblue">
<center>
         <h1>breathing</h1>
      <form action="/breathing" method="POST">
        <input type="text" name="inhale" id="inhale" placeholder="inhale"/><p></p><br></br>
       <input type="text" name="inhold" id="inhold" placeholder="inhold"/><p></p><br></br>
       <input type="text" name="exhale" id="exhale" placeholder="exhale"/><p></p><br></br>
       <input type="text" name="exhold" id="exhold" placeholder="exhold"/><p></p><br></br>
       <input type="submit" value="submit" /> 
       
       
       </form>
       
    </center>
</body>
</html>