<!DOCTYPE html>
<html>
  <head>
    
   
  </head>
<body bgcolor="lightblue">
<center>
         <h1>CHANGE YOUR PASSWORD</h1>
      <form action="/changepasscheck" method="POST">
        <input type="text" name="username" id="username" placeholder="Username"/><p></p><br></br>
       <input type="text" name="oldpassword" id="password" placeholder="old Password"/><p></p><br></br>
       <input type="text" name="newpassword" id="password" placeholder="new Password"/><p></p><br></br>
       <input type="submit" value="submit" /> <button type="button" onclick="location.href = '/forgetpassword'">Forget password</button><p></p>
       <button type="button" onclick="location.href = '/login'">Login</button><p></p><br></br>
       <%= message %>
       </form>
       
    </center>
</body>
</html>