<!DOCTYPE html>
<html>
  <head>
    
   
  </head>
<body bgcolor="lightblue">
<center>
         <h1>SEND WHATSAPP MESSEGE</h1>
      <form action="/whatsapp" method="POST">
        <input type="number" name="from" id="from" placeholder="from"/><p></p><br></br>
       <input type="number" name="to" id="to" placeholder="to"/><p></p><br></br>
       <input type="text" name="body" id="body" placeholder="body"/><p></p><br></br>
       <input type="submit" value="submit" /> 
       </form>
    </center>
</body>
</html>